# Reclassify repo as Python
* text=java
*.html text linguist-language=Python
*.php  text linguist-language=Python
*.css  text linguist-language=Python
*.js   text linguist-language=Python
*.txt  text linguist-language=Python
